.body {
  font-size: medium;
}
* {
  outline: none;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

input,
button {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}
$searchInputWidth: 350px;
$searchInputHeight: 90px;
$weatherDisplayWidth: 850px;
$weatherDisplayMediumWidth: 700px;
$loaderSize: 10em;
$weatherDisplayWidthLarge: 900px;
$breakpointMobile: 768px;
$focusColor: rgb(255, 225, 169);
$activeColor: rgb(255, 225, 169);

/* Ripple effect */
@mixin ripple {
  background-position: center;
  transition: background 0.02s;
  &:hover {
    background: $focusColor
      radial-gradient(circle, transparent 1%, $focusColor 1%) center/1500%;
  }
  &:active {
    background-color: $activeColor;
    background-size: 100%;
    transition: background 0s;
  }
}
