.body {
  font-size: medium;
}
* {
  outline: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  // background-color: #ffd8d8;
}

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

input,
button {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}
$searchInputWidth: 350px;
$searchInputHeight: 90px;
$weatherDisplayWidth: 850px;
$breakpoint-mobile: 768px;
$focus-color: rgb(255, 225, 169);
$active-color: rgb(255, 225, 169);

/* Ripple effect */
@mixin ripple {
    background-position: center;
    transition: background 0.02s;
    &:hover {
        background: $focus-color radial-gradient(circle, transparent 1%, $focus-color 1%) center/1500%;
    }
    &:active {
        background-color: $active-color;
        background-size: 100%;
        transition: background 0s;
    }
}